.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.welcome__picture { /* provisional */
  height: 100px;
}

.landings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 50vh;
  width: 80vw;
  max-width: 900px;
  align-self: center;
}

.landings__list{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}